body {
  font-family: cursive;
  font-size: 30px;
  font-weight: bold;
}

#container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#grid-container {
  display: grid;
  width: 700px;
  height: 700px;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(64, 1fr);
  gap: 2px; /* Add a 1px gap between cells */
  border: 2px solid rgb(73, 113, 178);
}

.grid-cell {
  background-color: rgb(249, 241, 241);
}
