#grid-container {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 10px; /* Add a 1px gap between cells */
}

.grid-cell {
  background-color: rgb(25, 129, 55);
}

.grid-cell:hover {
  background-color: brown;
}
